<template>

  <div>

    <v-card
        class="mx-auto rounded-lg"
        elevation="3"
        :loading="sending"
        :disabled="sending"
    >
      <v-card-text>
        <div>Access the page</div>
        <p class="text-h4 text--primary">
          Login
        </p>
        <div class="text--primary">

          <v-form
              ref="form"
              v-model="valid">

            <v-text-field
                v-model="email"
                :rules="emailRules"
                label="E-mail"
                required
            ></v-text-field>

            <v-text-field
                v-model="password"
                type="password"
                label="Password"
                required
            ></v-text-field>

            <v-btn
                :disabled="!valid"
                color="success"
                class="mr-4"
                @click="userLogin"
            >
              Login
            </v-btn>

          </v-form>

          <div class="has-text-centered" style="margin-top: 20px">
            Don't have an account yet? <nuxt-link to="/auth/register">Register</nuxt-link>
          </div>

        </div>
      </v-card-text>

    </v-card>

    <v-alert type="error" v-if="error" class="mt-4">
      {{ error }}
    </v-alert>

  </div>

</template>

<script>

export default {

  // TODO: allow login with username OR email

  layout: 'authentication',

  components: {
  },

  data() {
    return {

      valid: true,
      sending: false,

      username: '',
      email: '',
      password: '',

      emailRules: [
        v => !!v || 'E-mail is required',
        // v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],

      passwordRules: [
        v => !!v || 'Password is required',
        // v => (v && v.length <= 20) || 'Password must be less than 20 characters',
        // v => (v && v.length >= 10) || 'Password must be at least 10 characters',
        // v => /(?=.*[A-Z])/.test(v) || 'Must have one uppercase character',
        // v => /(?=.*\d)/.test(v) || 'Must have one number',
        // v => /([/(/)#.,:;!@$%])/.test(v) || 'Must have one special character (#.,:;!@$%)'
      ],

      error: null,
      debug: true
    }
  },

  methods: {

    async userLogin() {
      try {
        let response = await this.$auth.loginWith(
            'local', {
              data: {
                email: this.email,
                password: this.password
              }
            })

        if (this.debug) console.log('auth/login: result = ', response.data);

      } catch (err) {
        console.log(err)
      }
    },

    async login() {
      try {

        this.sending = true

        // TODO: login
        const login_result = await this.$axios.post('api/auth/login', {
          email: this.email,
          password: this.password
        })

        if (this.debug) console.log('auth/login: result = ', login_result.data);

        if (login_result.data && !login_result.data.error) {
          this.error = false

          await this.$auth.loginWith('local', {
            data: {
              email: this.email,
              // password: this.password
            },
          })

          console.log('login done');

          // todo: just show some message
          this.$router.push('/')

        } else {
          if (login_result.data && login_result.data.error) {
            console.log('auth/login: ERROR = ', login_result.data);
            this.error = login_result.data.error[0]
          } else {
            console.log('auth/login: ERROR UNKNOWN = ', login_result);
            this.error = 'Unknown error.'
          }
        }

      } catch (e) {
        this.error = e.response.data.message
      }

      this.sending = false
    }
  }
}
</script>