<template>

  <div>

    <v-card
        class="mx-auto rounded-lg"
        elevation="3"
        :loading="sending"
        :disabled="sending"
    >
      <v-card-text>
        <div>Create a new account</div>
        <p class="text-h4 text--primary">
          Registration
        </p>
        <div class="text--primary">

          <v-form
              ref="form"
              v-model="valid"
              v-if="!registered"
          >

            <v-text-field
                v-model="username"
                :rules="nameRules"
                :counter="20"
                label="Username"
                required
            ></v-text-field>

            <v-text-field
                v-model="email"
                :rules="emailRules"
                label="E-mail"
                required
            ></v-text-field>

            <v-text-field
                v-model="password"
                :rules="passwordRules"
                type="password"
                label="Password"
                error-count="5"
                required
            ></v-text-field>

            <v-btn
                color="error"
                class="mr-4"
                @click="reset"
            >
              Reset Form
            </v-btn>

            <v-btn
                :disabled="!valid"
                color="success"
                class="mr-4"
                @click="register"
            >
              Register
            </v-btn>


            <!--        <v-btn-->
            <!--            color="warning"-->
            <!--            @click="resetValidation"-->
            <!--        >-->
            <!--          Reset Validation-->
            <!--        </v-btn>-->

          </v-form>

          <v-alert type="success" v-else>
            You have been successfully registered to our site. You can now login <nuxt-link to="/auth/login">here</nuxt-link>
          </v-alert>

          <div v-if="!registered" class="has-text-centered" style="margin-top: 20px">
            Already got an account? <nuxt-link to="/auth/login">Login</nuxt-link>
          </div>

        </div>
      </v-card-text>
  <!--        <v-card-actions>-->
  <!--          <v-btn-->
  <!--              text-->
  <!--              color="deep-purple accent-4"-->
  <!--          >-->
  <!--            Learn More-->
  <!--          </v-btn>-->
  <!--        </v-card-actions>-->
    </v-card>

    <v-alert type="error" v-if="error" class="mt-4">
      {{ error }}
    </v-alert>

  </div>

</template>

<script>

export default {

  // TODO: better form validation > https://vuetifyjs.com/en/components/forms/#usage
  // tutorial: https://medium.com/js-dojo/form-validation-with-vuetify-in-a-vue-app-d72e3d9b65db

  layout: 'authentication',

  components: {
  },

  data() {
    return {

      valid: true,
      sending: false,
      registered: false,

      username: '',
      email: '',
      password: '',


      nameRules: [
        v => !!v || 'Name is required',
        // v => (v && v.length <= 20) || 'Name must be less than 20 characters',
        // v => (v && v.length >= 6) || 'Name must be at least 4 characters',
      ],

      emailRules: [
        v => !!v || 'E-mail is required',
        // v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],

      passwordRules: [
        v => !!v || 'Password is required',
        // v => (v && v.length <= 20) || 'Password must be less than 20 characters',
        // v => (v && v.length >= 10) || 'Password must be at least 10 characters',
        // v => /(?=.*[A-Z])/.test(v) || 'Must have one uppercase character',
        // v => /(?=.*\d)/.test(v) || 'Must have one number',
        // v => /([/(/)#.,:;!@$%])/.test(v) || 'Must have one special character (#.,:;!@$%)'
      ],

      error: null,

      debug: true
    }
  },

  methods: {

    validate () {
      this.$refs.form.validate()
    },
    reset () {
      this.$refs.form.reset()
    },
    resetValidation () {
      this.$refs.form.resetValidation()
    },

    async register() {
      this.sending = true

      try {

        const register_result = await this.$axios.post('api/register', {
          username: this.username,
          email: this.email,
          password: this.password
        })

        if (this.debug) console.log('auth/register: result = ', register_result.data);

        if (register_result.data && !register_result.data.error) {
          this.error = false

          // await this.$auth.loginWith('local', {
          //   data: {
          //     email: this.email,
          //     // password: this.password
          //   },
          // })
          //
          // this.$router.push('/')

          this.registered = true

        } else {
          if (register_result.data && register_result.data.error) {
            console.log('auth/register: ERROR = ', register_result.data);
            this.error = register_result.data.error[0]
          } else {
            console.log('auth/register: ERROR UNKNOWN = ', register_result);
            this.error = 'Unknown error.'
          }
        }

      } catch (e) {
        this.error = e.response.data.message
      }

      this.sending = false
    }
  }
}
</script>